*{
	all: unset;
}

.bg {
    background-color:#726E75;
    border-radius: 10px;
    background-size: 100%;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.albumCover {
    background-size: auto;
    background-repeat: no-repeat;
}